# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
coverage
.turbo
.next
out
.vercel
storybook-static

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
*.local

# Editor
.vscode
.idea

# Misc
*.tsbuildinfo
.cache
.eslintcache
.stylelintcache
.swc
.parcel-cache
.pnpm-store
test-results

# Local demo data
.ruleflow-demo-data
apps/ruleflow-web/.ruleflow-demo-data
